template(name="navBar")
  .container.pull-left
      a(href="/")
        h2 Recipe
          span.second-word List
    ul.nav.nav-pills.pull-left.clearfix
      li
        a.nav-items(href="/recipeList") Recipe List
      li
        a.nav-items(href="/newRecipe") New Recipe
